<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Search Deck</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Faster+One&family=Finger+Paint&family=Gugi&family=Roboto&family=Rubik&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <script type="text/javascript" src="{{url_for('static', filename='vue/vue.min.js')}}"></script>
  <script type="text/JavaScript">
    var u_name = "{{u_name}}"
 </script>
</head>

<body>

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">FLASH CARDS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/new_deck">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  <div id="search_deck">
  <div v-if="searched === false" class="jumbotron section-head">
    <h3 style="margin-bottom:0px;">SEARCH FOR A DECK</h3>
  </div>
  <div v-else class="jumbotron section-head">
    <h3 style="margin-bottom:0px;">SEARCH RESULTS</h3>
  </div>
  <div class="container-fluid" >

      <div v-if="searched === false">
        <div class="row mb-3">
          <div class="col-sm-2 input_field">
            <input v-model="deck_name" autocomplete="off" name="deck_name" type="search" class="form-control" placeholder="Search for Deck name" required>
          </div>
        </div>
        <button @click="search" type="submit" class="btn btn-info updates-btn">Search</button>
      </div>

      <div v-if="decks.length > 0 && searched === true" class="row">
        <div v-for="item in this.decks" class="col-sm-6">
          <div class="card deck">
            <div class="card-body deck-body">

              <flash-card :deck_name="item.deck_name" :score="item.score" :num="item.num"
              :last_review="item.last_review"></flash-card>

                <a id="practice-btn" href="">
                  <button @click="activatePracticeBtn(item.deck_id)" type="submit" class="btn btn-primary practice-btn">Practice</button>
                </a>

            </div>
          </div>
        </div>
      </div>

      <div v-if="this.error.length > 0" class="error">
        <p>
        <ul>
          <li >${error}</li>
        </ul>
        </p>
      </div>
  </div>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/deck_search.js')}}"></script>
</body>

</html>
